
img(style="width:400px; display:block; margin:0 auto;"
    src="{{ image_url }}")

#sidebar: p Share & Care Post Document

h1 {{ title }}

.ui.piled.segment: p.
    Country: {{ country }},
    Author: {{ author }},
    E-mail address: {{ email }}



{{ content }}